BOT_TOKEN=your_bot_token
GROUP_ID=-1001234567891
MANAGER_USERNAME=alena_tut
GOOGLE_CREDENTIALS_FILE=credentials.json
GOOGLE_SPREADSHEET_ID=your_spreadsheet_id_here
GOOGLE_SHEET_NAME=Лист1

# Кураторы для уведомлений
CURATOR_USERNAME=alena_tut
CURATOR_MANAGER_USERNAME=koch
CURATOR_CHAT_ID=123456789

# Ссылки на топики и формы
GROUP_TOPIC_ACCOUNTS_LINK=https://t.me/c/3831898083/159
GROUP_TOPIC_QA_LINK=https://t.me/c/3831898083/36
DASHBOARD_FORM_LINK=https://forms.yandex.ru/cloud/6a0c6056493639001e3430ba/
PARTNERS_LINK=https://university.zerocoder.ru/partners
